// src/styles/_neumorphism.scss

@import 'variables';

@mixin neumorphic($type: flat) {
  background-color: $surface-dark;
  border-radius: 12px;
  padding: 1rem;
  box-shadow:
    $neumorphic-distance $neumorphic-distance ($neumorphic-distance * 2) $neumorphic-dark-shadow,
    calc(-1 * $neumorphic-distance) calc(-1 * $neumorphic-distance) ($neumorphic-distance * 2) $neumorphic-light-shadow;

  @if $type == pressed {
    box-shadow:
      inset $neumorphic-distance $neumorphic-distance ($neumorphic-distance * 2) $neumorphic-dark-shadow,
      inset calc(-1 * $neumorphic-distance) calc(-1 * $neumorphic-distance) ($neumorphic-distance * 2) $neumorphic-light-shadow;
  } @else if $type == hovered {
    box-shadow:
      ($neumorphic-distance + 2px) ($neumorphic-distance + 2px) ($neumorphic-distance * 2 + 4px) $neumorphic-dark-shadow,
      calc(-1 * $neumorphic-distance - 2px) calc(-1 * $neumorphic-distance - 2px) ($neumorphic-distance * 2 + 4px) $neumorphic-light-shadow;
  }
}
